USE [master]
GO
/****** Object:  Database [SmartAirportQueueDB]    Script Date: 5/21/2026 10:17:32 AM ******/
CREATE DATABASE [SmartAirportQueueDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartAirportQueueDB', FILENAME = N'C:\Users\10Home\SmartAirportQueueDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartAirportQueueDB_log', FILENAME = N'C:\Users\10Home\SmartAirportQueueDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartAirportQueueDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartAirportQueueDB]
GO
/****** Object:  Table [dbo].[Counters]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Counters](
	[CounterId] [int] IDENTITY(1,1) NOT NULL,
	[CounterName] [nvarchar](100) NOT NULL,
	[ServiceType] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flights]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[FlightId] [int] IDENTITY(1,1) NOT NULL,
	[FlightCode] [nvarchar](20) NOT NULL,
	[Destination] [nvarchar](100) NULL,
	[Airline] [nvarchar](100) NULL,
	[DepartureTime] [datetime] NULL,
	[FlightNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[FlightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FlightCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QueueLogs]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueueLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QueueTickets]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueueTickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[QueueNumber] [nvarchar](20) NOT NULL,
	[ServiceType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[EstimatedTime] [int] NULL,
	[UserId] [int] NULL,
	[CounterId] [int] NULL,
	[UserSession] [nvarchar](100) NULL,
	[FlightCode] [nvarchar](20) NULL,
	[FlightNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_QueueTickets_UserSession]    Script Date: 5/21/2026 10:17:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_QueueTickets_UserSession] ON [dbo].[QueueTickets]
(
	[UserSession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Counters] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[QueueLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[QueueTickets] ADD  DEFAULT ('Waiting') FOR [Status]
GO
ALTER TABLE [dbo].[QueueTickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QueueLogs]  WITH CHECK ADD  CONSTRAINT [FK_QueueLogs_QueueTickets] FOREIGN KEY([TicketId])
REFERENCES [dbo].[QueueTickets] ([TicketId])
GO
ALTER TABLE [dbo].[QueueLogs] CHECK CONSTRAINT [FK_QueueLogs_QueueTickets]
GO
ALTER TABLE [dbo].[QueueTickets]  WITH CHECK ADD  CONSTRAINT [FK_QueueTickets_Counters] FOREIGN KEY([CounterId])
REFERENCES [dbo].[Counters] ([CounterId])
GO
ALTER TABLE [dbo].[QueueTickets] CHECK CONSTRAINT [FK_QueueTickets_Counters]
GO
ALTER TABLE [dbo].[QueueTickets]  WITH CHECK ADD  CONSTRAINT [FK_QueueTickets_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[QueueTickets] CHECK CONSTRAINT [FK_QueueTickets_Users]
GO
ALTER TABLE [dbo].[Counters]  WITH CHECK ADD  CONSTRAINT [CK_Counters_ServiceType] CHECK  (([ServiceType]='Boarding' OR [ServiceType]='Security' OR [ServiceType]='Check-in'))
GO
ALTER TABLE [dbo].[Counters] CHECK CONSTRAINT [CK_Counters_ServiceType]
GO
ALTER TABLE [dbo].[QueueLogs]  WITH CHECK ADD  CONSTRAINT [CK_QueueLogs_Action] CHECK  (([Action]='Cancelled' OR [Action]='Completed' OR [Action]='Served' OR [Action]='Called' OR [Action]='Created'))
GO
ALTER TABLE [dbo].[QueueLogs] CHECK CONSTRAINT [CK_QueueLogs_Action]
GO
ALTER TABLE [dbo].[QueueTickets]  WITH CHECK ADD  CONSTRAINT [CK_QueueTickets_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Served' OR [Status]='Waiting'))
GO
ALTER TABLE [dbo].[QueueTickets] CHECK CONSTRAINT [CK_QueueTickets_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Staff'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[ActivateCounter]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActivateCounter]
    @CounterId INT
AS
BEGIN
    UPDATE Counters
    SET IsActive = 1
    WHERE CounterId = @CounterId;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddCounter]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   COUNTERS PROCEDURES
========================= */

CREATE PROCEDURE [dbo].[AddCounter]
    @CounterName NVARCHAR(100),
    @ServiceType NVARCHAR(50)
AS
BEGIN
    INSERT INTO Counters (CounterName, ServiceType, IsActive)
    VALUES (@CounterName, @ServiceType, 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =====================================================
   STORED PROCEDURES
===================================================== */

/* =========================
   USERS PROCEDURES
========================= */

CREATE PROCEDURE [dbo].[AddUser]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(255),
    @Role NVARCHAR(20)
AS
BEGIN
    INSERT INTO Users (FullName, Email, PasswordHash, Role)
    VALUES (@FullName, @Email, @PasswordHash, @Role);
END;
GO
/****** Object:  StoredProcedure [dbo].[CallNextPassenger]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CallNextPassenger]
    @ServiceType NVARCHAR(50),
    @CounterId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TicketId INT;

    -- Get oldest waiting passenger
    SELECT TOP 1 @TicketId = TicketId
    FROM QueueTickets
    WHERE ServiceType = @ServiceType
      AND Status = 'Waiting'
    ORDER BY CreatedAt ASC;

    IF @TicketId IS NOT NULL
    BEGIN
        -- Mark passenger as SERVED
        UPDATE QueueTickets
        SET Status = 'Served',
            CounterId = @CounterId
        WHERE TicketId = @TicketId;

        -- Log action
        INSERT INTO QueueLogs (TicketId, Action)
        VALUES (@TicketId, 'Served');

        -- Return ticket data
        SELECT *
        FROM QueueTickets
        WHERE TicketId = @TicketId;
    END
    ELSE
    BEGIN
        SELECT 'No waiting passengers' AS Message;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[CancelTicket]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CancelTicket]
    @TicketId INT
AS
BEGIN
    UPDATE QueueTickets
    SET Status = 'Cancelled'
    WHERE TicketId = @TicketId;

    INSERT INTO QueueLogs (TicketId, Action)
    VALUES (@TicketId, 'Cancelled');
END;
GO
/****** Object:  StoredProcedure [dbo].[CheckActiveTicketBySession]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckActiveTicketBySession]
    @UserSession NVARCHAR(100)
AS
BEGIN
    SELECT TOP 1 *
    FROM QueueTickets
    WHERE UserSession = @UserSession
      AND Status IN ('Waiting', 'Served')
    ORDER BY TicketId DESC
END
GO
/****** Object:  StoredProcedure [dbo].[CompleteService]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   IMPROVED CompleteService
   ========================================================= */

CREATE PROCEDURE [dbo].[CompleteService]
    @TicketId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE QueueTickets
    SET Status = 'Completed'
    WHERE TicketId = @TicketId;

    INSERT INTO QueueLogs (TicketId, Action)
    VALUES (@TicketId, 'Completed');
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateQueueTicket]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateQueueTicket]
    @ServiceType NVARCHAR(50),
    @FlightCode NVARCHAR(100),
    @FlightNumber NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @QueueNumber NVARCHAR(20);
    DECLARE @CountToday INT;
    DECLARE @Prefix NVARCHAR(5);
    DECLARE @EstimatedTime INT;

    -- 🔴 HARD BLOCK: only ONE active ticket per flight + service
    IF EXISTS (
        SELECT 1
        FROM QueueTickets
        WHERE FlightCode = @FlightCode
          AND ServiceType = @ServiceType
          AND Status IN ('Waiting','Served')
    )
    BEGIN
        SELECT
            NULL AS TicketId,
            NULL AS QueueNumber,
            NULL AS EstimatedTime,
            @ServiceType AS ServiceType,
            'EXISTS' AS Status;
        RETURN;
    END

    -- Prefix
    IF @ServiceType = 'Check-in'
        SET @Prefix = 'C';
    ELSE IF @ServiceType = 'Security'
        SET @Prefix = 'S';
    ELSE IF @ServiceType = 'Boarding'
        SET @Prefix = 'B';
    ELSE
        SET @Prefix = 'T';

    -- Daily counter
    SELECT @CountToday = COUNT(*) + 1
    FROM QueueTickets
    WHERE ServiceType = @ServiceType
      AND CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE);

    SET @QueueNumber = @Prefix + CAST(@CountToday AS NVARCHAR(10));

    -- Waiting estimate
    SELECT @EstimatedTime = COUNT(*) * 5
    FROM QueueTickets
    WHERE ServiceType = @ServiceType
      AND Status = 'Waiting';

    -- Insert
    INSERT INTO QueueTickets (
        QueueNumber,
        ServiceType,
        Status,
        CreatedAt,
        EstimatedTime,
        FlightCode,
        FlightNumber
    )
    VALUES (
        @QueueNumber,
        @ServiceType,
        'Waiting',
        GETDATE(),
        @EstimatedTime,
        @FlightCode,
        @FlightNumber
    );

    -- Always return same shape
    SELECT
        SCOPE_IDENTITY() AS TicketId,
        @QueueNumber AS QueueNumber,
        @EstimatedTime AS EstimatedTime,
        @ServiceType AS ServiceType,
        'CREATED' AS Status;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeactivateCounter]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeactivateCounter]
    @CounterId INT
AS
BEGIN
    UPDATE Counters
    SET IsActive = 0
    WHERE CounterId = @CounterId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteCounter]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteCounter]
    @CounterId INT
AS
BEGIN
    DELETE FROM Counters
    WHERE CounterId = @CounterId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteUser]
    @UserId INT
AS
BEGIN
    DELETE FROM Users
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetActiveCounters]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetActiveCounters]
AS
BEGIN
    SELECT *
    FROM Counters
    WHERE IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllCounters]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllCounters]
AS
BEGIN
    SELECT *
    FROM Counters;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllLogs]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllLogs]
AS
BEGIN
    SELECT *
    FROM QueueLogs
    ORDER BY Timestamp DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
    SELECT UserId, FullName, Email, Role
    FROM Users;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAverageEstimatedWaitingTime]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAverageEstimatedWaitingTime]
AS
BEGIN
    SELECT AVG(EstimatedTime) AS AverageEstimatedWaitingTime
    FROM QueueTickets
    WHERE EstimatedTime IS NOT NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetBusiestCounter]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetBusiestCounter]
AS
BEGIN
    SELECT TOP 1
        c.CounterName,
        COUNT(qt.TicketId) AS TotalServed
    FROM QueueTickets qt
    INNER JOIN Counters c ON qt.CounterId = c.CounterId
    WHERE qt.Status = 'Completed'
    GROUP BY c.CounterName
    ORDER BY TotalServed DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetBusiestServiceType]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetBusiestServiceType]
AS
BEGIN
    SELECT TOP 1
        ServiceType,
        COUNT(*) AS TotalTickets
    FROM QueueTickets
    GROUP BY ServiceType
    ORDER BY TotalTickets DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCompletedPassengersCount]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCompletedPassengersCount]
AS
BEGIN
    SELECT COUNT(*) AS CompletedPassengers
    FROM QueueTickets
    WHERE Status = 'Completed';
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCompletedTickets]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCompletedTickets]
AS
BEGIN
    SELECT *
    FROM QueueTickets
    WHERE Status = 'Completed'
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCounterById]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCounterById]
    @CounterId INT
AS
BEGIN
    SELECT *
    FROM Counters
    WHERE CounterId = @CounterId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetLogsByTicketId]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   LOG PROCEDURES
========================= */

CREATE PROCEDURE [dbo].[GetLogsByTicketId]
    @TicketId INT
AS
BEGIN
    SELECT *
    FROM QueueLogs
    WHERE TicketId = @TicketId
    ORDER BY Timestamp ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetNextQueueNumbers]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetNextQueueNumbers]
    @ServiceType NVARCHAR(50)
AS
BEGIN
    SELECT TOP 5
        QueueNumber,
        ServiceType,
        Status,
        EstimatedTime
    FROM QueueTickets
    WHERE ServiceType = @ServiceType
    AND Status = 'Waiting'
    ORDER BY CreatedAt ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetNowServing]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   IMPROVED GetNowServing
   ========================================================= */

CREATE PROCEDURE [dbo].[GetNowServing]
AS
BEGIN
    SELECT
        qt.QueueNumber,
        qt.ServiceType,
        qt.Status,
        c.CounterName
    FROM QueueTickets qt
    LEFT JOIN Counters c
        ON qt.CounterId = c.CounterId
    WHERE qt.Status = 'Called'
    ORDER BY qt.CreatedAt ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetNowServingByService]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetNowServingByService]
    @ServiceType NVARCHAR(50)
AS
BEGIN
    SELECT TOP 1 
        qt.QueueNumber,
        qt.TicketId,
        qt.ServiceType,
        qt.Status,
        qt.CounterId,
        c.CounterName
    FROM QueueTickets qt
    LEFT JOIN Counters c ON qt.CounterId = c.CounterId
    WHERE qt.ServiceType = @ServiceType
    AND qt.Status = 'Served'
    ORDER BY qt.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPeopleBeforeMe]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPeopleBeforeMe]
    @TicketId INT
AS
BEGIN
    DECLARE @ServiceType NVARCHAR(50);
    DECLARE @CreatedAt DATETIME;

    SELECT 
        @ServiceType = ServiceType,
        @CreatedAt = CreatedAt
    FROM QueueTickets
    WHERE TicketId = @TicketId;

    SELECT COUNT(*) AS PeopleBeforeMe
    FROM QueueTickets
    WHERE ServiceType = @ServiceType
    AND Status = 'Waiting'
    AND CreatedAt < @CreatedAt;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetServedPassengersCount]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetServedPassengersCount]
AS
BEGIN
    SELECT COUNT(*) AS ServedPassengers
    FROM QueueTickets
    WHERE Status = 'Served';
END;
GO
/****** Object:  StoredProcedure [dbo].[GetServedTickets]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetServedTickets]
AS
BEGIN
    SELECT *
    FROM QueueTickets
    WHERE Status = 'Served'
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTicketById]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTicketById]
    @TicketId INT
AS
BEGIN
    SELECT *
    FROM QueueTickets
    WHERE TicketId = @TicketId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTotalPassengersToday]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   REPORT PROCEDURES
========================= */

CREATE PROCEDURE [dbo].[GetTotalPassengersToday]
AS
BEGIN
    SELECT COUNT(*) AS TotalPassengersToday
    FROM QueueTickets
    WHERE CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE);
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserByEmail]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT *
    FROM Users
    WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserById]
    @UserId INT
AS
BEGIN
    SELECT *
    FROM Users
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetWaitingPassengersCount]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetWaitingPassengersCount]
AS
BEGIN
    SELECT COUNT(*) AS WaitingPassengers
    FROM QueueTickets
    WHERE Status = 'Waiting';
END;
GO
/****** Object:  StoredProcedure [dbo].[GetWaitingTickets]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetWaitingTickets]
    @ServiceType NVARCHAR(50)
AS
BEGIN
    SELECT *
    FROM QueueTickets
    WHERE ServiceType = @ServiceType
    AND Status = 'Waiting'
    ORDER BY CreatedAt ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[MoveToNextTicket]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   CRITICAL PROCEDURES FOR DISPLAY.ASPX.CS
   These handle the 30-second cycle
========================= */

-- This procedure moves the oldest 'Waiting' ticket to 'Served'
-- AND moves any existing 'Served' tickets to 'Completed'
CREATE PROCEDURE [dbo].[MoveToNextTicket]
    @ServiceType NVARCHAR(50)
AS
BEGIN
    -- Step 1: Move current 'Served' ticket to 'Completed'
    UPDATE QueueTickets
    SET Status = 'Completed'
    WHERE ServiceType = @ServiceType
    AND Status = 'Served';

    -- Step 2: Get the oldest 'Waiting' ticket
    DECLARE @TicketId INT;
    
    SELECT TOP 1 @TicketId = TicketId
    FROM QueueTickets
    WHERE ServiceType = @ServiceType
    AND Status = 'Waiting'
    ORDER BY CreatedAt ASC;

    -- Step 3: Move it to 'Served'
    IF @TicketId IS NOT NULL
    BEGIN
        UPDATE QueueTickets
        SET Status = 'Served'
        WHERE TicketId = @TicketId;

        -- Log the action
        INSERT INTO QueueLogs (TicketId, Action)
        VALUES (@TicketId, 'Served');
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserRole]    Script Date: 5/21/2026 10:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateUserRole]
    @UserId INT,
    @Role NVARCHAR(20)
AS
BEGIN
    UPDATE Users
    SET Role = @Role
    WHERE UserId = @UserId;
END;
GO
USE [master]
GO
