USE [master]
GO
/****** Object:  Database [Airport]    Script Date: 5/17/2026 5:00:13 PM ******/
CREATE DATABASE [Airport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Airport', FILENAME = N'C:\Users\10Home\Airport.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Airport_log', FILENAME = N'C:\Users\10Home\Airport_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Airport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Airport]
GO
/****** Object:  Table [dbo].[Counters]    Script Date: 5/17/2026 5:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Counters](
	[CounterId] [int] IDENTITY(1,1) NOT NULL,
	[CounterName] [nvarchar](100) NOT NULL,
	[ServiceType] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QueueLogs]    Script Date: 5/17/2026 5:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueueLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QueueTickets]    Script Date: 5/17/2026 5:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueueTickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[QueueNumber] [nvarchar](20) NOT NULL,
	[ServiceType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[EstimatedTime] [int] NULL,
	[UserId] [int] NULL,
	[CounterId] [int] NULL,
	[IsServed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/17/2026 5:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Counters] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[QueueLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[QueueTickets] ADD  DEFAULT ('Waiting') FOR [Status]
GO
ALTER TABLE [dbo].[QueueTickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QueueTickets] ADD  DEFAULT ((0)) FOR [IsServed]
GO
ALTER TABLE [dbo].[QueueLogs]  WITH CHECK ADD  CONSTRAINT [FK_QueueLogs_QueueTickets] FOREIGN KEY([TicketId])
REFERENCES [dbo].[QueueTickets] ([TicketId])
GO
ALTER TABLE [dbo].[QueueLogs] CHECK CONSTRAINT [FK_QueueLogs_QueueTickets]
GO
ALTER TABLE [dbo].[QueueTickets]  WITH CHECK ADD  CONSTRAINT [FK_QueueTickets_Counters] FOREIGN KEY([CounterId])
REFERENCES [dbo].[Counters] ([CounterId])
GO
ALTER TABLE [dbo].[QueueTickets] CHECK CONSTRAINT [FK_QueueTickets_Counters]
GO
ALTER TABLE [dbo].[QueueTickets]  WITH CHECK ADD  CONSTRAINT [FK_QueueTickets_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[QueueTickets] CHECK CONSTRAINT [FK_QueueTickets_Users]
GO
ALTER TABLE [dbo].[Counters]  WITH CHECK ADD  CONSTRAINT [CK_Counters_ServiceType] CHECK  (([ServiceType]='Boarding' OR [ServiceType]='Security' OR [ServiceType]='Check-in'))
GO
ALTER TABLE [dbo].[Counters] CHECK CONSTRAINT [CK_Counters_ServiceType]
GO
ALTER TABLE [dbo].[QueueLogs]  WITH CHECK ADD  CONSTRAINT [CK_QueueLogs_Action] CHECK  (([Action]='Cancelled' OR [Action]='Completed' OR [Action]='Called' OR [Action]='Created'))
GO
ALTER TABLE [dbo].[QueueLogs] CHECK CONSTRAINT [CK_QueueLogs_Action]
GO
ALTER TABLE [dbo].[QueueTickets]  WITH CHECK ADD  CONSTRAINT [CK_QueueTickets_ServiceType] CHECK  (([ServiceType]='Boarding' OR [ServiceType]='Security' OR [ServiceType]='Check-in'))
GO
ALTER TABLE [dbo].[QueueTickets] CHECK CONSTRAINT [CK_QueueTickets_ServiceType]
GO
ALTER TABLE [dbo].[QueueTickets]  WITH CHECK ADD  CONSTRAINT [CK_QueueTickets_Status] CHECK  (([Status]='Completed' OR [Status]='Served' OR [Status]='Waiting'))
GO
ALTER TABLE [dbo].[QueueTickets] CHECK CONSTRAINT [CK_QueueTickets_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Staff'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[CallNextPassenger]    Script Date: 5/17/2026 5:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =====================================================
   STAFF / COUNTER PROCEDURES (Authentication still used here)
===================================================== */

CREATE   PROCEDURE [dbo].[CallNextPassenger]
    @ServiceType NVARCHAR(50),
    @CounterId INT
AS
BEGIN
    DECLARE @TicketId INT;

    -- Get the oldest waiting ticket for this service
    SELECT TOP 1 @TicketId = TicketId
    FROM QueueTickets
    WHERE ServiceType = @ServiceType
    AND Status = 'Waiting'
    ORDER BY CreatedAt ASC;

    IF @TicketId IS NOT NULL
    BEGIN
        -- Assign the ticket to a counter and update status
        UPDATE QueueTickets
        SET Status = 'Called',
            CounterId = @CounterId
        WHERE TicketId = @TicketId;

        INSERT INTO QueueLogs (TicketId, Action)
        VALUES (@TicketId, 'Called');

        SELECT * FROM QueueTickets WHERE TicketId = @TicketId;
    END
    ELSE
    BEGIN
        SELECT 'No waiting passengers' AS Message;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[CompleteService]    Script Date: 5/17/2026 5:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE: Complete a ticket once passenger is served
CREATE   PROCEDURE [dbo].[CompleteService]
    @TicketId INT
AS
BEGIN
    UPDATE QueueTickets
    SET Status = 'Completed'
    WHERE TicketId = @TicketId;

    INSERT INTO QueueLogs (TicketId, Action)
    VALUES (@TicketId, 'Completed');
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateQueueTicket]    Script Date: 5/17/2026 5:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =====================================================
   UPDATED QUEUE TICKET PROCEDURES (No Passenger Login Required)
===================================================== */

-- 1. Modified CreateQueueTicket: Removed mandatory @UserId
CREATE   PROCEDURE [dbo].[CreateQueueTicket]
    @ServiceType NVARCHAR(50)
AS
BEGIN
    DECLARE @QueueNumber NVARCHAR(20);
    DECLARE @CountToday INT;
    DECLARE @Prefix NVARCHAR(5);
    DECLARE @EstimatedTime INT;

    -- Set Prefix based on service type
    IF @ServiceType = 'Check-in'
        SET @Prefix = 'C';
    ELSE IF @ServiceType = 'Security'
        SET @Prefix = 'S';
    ELSE IF @ServiceType = 'Boarding'
        SET @Prefix = 'B';
    ELSE
        SET @Prefix = 'T'; -- Default Ticket prefix

    -- Calculate daily count for the specific service
    SELECT @CountToday = COUNT(*) + 1
    FROM QueueTickets
    WHERE ServiceType = @ServiceType
    AND CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE);

    -- Generate Ticket Number (e.g., C1, S5)
    SET @QueueNumber = @Prefix + CAST(@CountToday AS NVARCHAR(10));

    -- Calculate Estimated Time (5 mins per waiting person)
    SELECT @EstimatedTime = COUNT(*) * 5
    FROM QueueTickets
    WHERE ServiceType = @ServiceType
    AND Status = 'Waiting';

    -- Insert into database (UserId is now NULL for passengers)
    INSERT INTO QueueTickets
    (QueueNumber, ServiceType, Status, CreatedAt, EstimatedTime, UserId)
    VALUES
    (@QueueNumber, @ServiceType, 'Waiting', GETDATE(), @EstimatedTime, NULL);

    DECLARE @TicketId INT = SCOPE_IDENTITY();

    -- Log the creation
    INSERT INTO QueueLogs (TicketId, Action)
    VALUES (@TicketId, 'Created');

    -- Return the ticket details to the C# Frontend
    SELECT *
    FROM QueueTickets
    WHERE TicketId = @TicketId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetNowServing]    Script Date: 5/17/2026 5:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =====================================================
   DISPLAY & REPORTING
===================================================== */

-- For the public display screens showing who is being served
CREATE   PROCEDURE [dbo].[GetNowServing]
AS
BEGIN
    SELECT 
        qt.QueueNumber,
        qt.ServiceType,
        c.CounterName
    FROM QueueTickets qt
    JOIN Counters c ON qt.CounterId = c.CounterId
    WHERE qt.Status = 'Called'
    ORDER BY qt.CreatedAt ASC;
END;
GO
USE [master]
GO
